[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
whitenoise = "*"
dj-database-url = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
