{% extends '../tweets/base.html' %}



{% block content %}
<div class= 'row text-center' >
    <div class= 'col'>
        <h1>
            Welcome to Tweetme 2
        </h1>
    </div>
</div>


<div class= 'row'>
    <div class= 'col-md-4 mx-auto col-10'>
        <form id= 'tweet-create-form'
              class= 'form'  
              method= 'POST' 
              action='/create-tweet'>
            {% csrf_token %}
            <div class= 'd-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <textarea required class= 'form-control' name= 'content'  placeholder="Your tweet ..." >
            </textarea>
            <button type='submit' class='btn btn-primary mt-4' >Tweet</button>
        </form>
    </div>
</div>


<div class="row" id='tweets'>
    Loading ...
</div>

<script>

    const handleTweetFormError = (msg, display) => {
        const myErrorDiv = document.getElementById("tweet-create-form-error")
        if (display) {
            myErrorDiv.setAttribute("class", "alert-danger alert d-block")
            myErrorDiv.innerText = msg
        }else {
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    const handleTweetCreateFormDidSubmit = (event) => {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = () => {
            if (xhr.status === 201){
                handleTweetFormError("", false)
                const newTweet = xhr.response
                const newTweetEl = formatTweetElement(newTweet)
                console.log(newTweetEl)
                const tweetsElement = document.getElementById("tweets")
                const ogHtml = tweetsElement.innerHTML
                tweetsElement.innerHTML = newTweetEl + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                if (contentError) {
                    if (contentError[0]) {
                        handleTweetFormError(contentError[0], true)
                    } else {
                        alert("An error ocurred. Please try again.")
                    }
                } else {
                    alert("Another error ocurred. Please, try again.")
                }
            } else if (xhr.status === 500) {
                alert("There was a server error, please try again")
            } else if (xhr.status === 401) {
                alert("You must login!")
                window.location.href= '/login'
            }
        }
        xhr.onerror = function () {
            alert("An error ocurred. Please try again later")
        }
        xhr.send(myFormData)
    }
    
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)
    const loadTweets = () => {
        const tweetsElement = document.getElementById("tweets")
        tweetsElement.innerHTML = 'Loading ...'
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "/tweets"
        const responseType = "json"

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
                const serverResponse = xhr.response
                const listedItems = serverResponse.response
                let finalTweetStr = ""
                let i
                for (i= 0; i< listedItems.length; i++ ){
                    finalTweetStr += formatTweetElement(listedItems[i])
                }
                tweetsElement.innerHTML = finalTweetStr
                console.log(listedItems)
            }
        xhr.send()
    }

    const tweetsEl = document.getElementById('tweets')
    loadTweets(tweetsEl)

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
    }

    function LikeBtn(tweet) {
        return "<button class= 'btn btn-primary' onclick= handleDidLike(" +
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Like</button>"
    }

    function formatTweetElement(tweet) {
        const formattedTweet = "<div class='mb-4 col-md-10 mx-auto col-12 border rounded py-3' id= 'tweet-" 
        + tweet.id + "'>" 
        + "<p>" 
        + tweet.content
        + "</p><div class= 'btn-group'>" + LikeBtn(tweet) + "</div></div>"

        return formattedTweet
    }

    
</script>

{% endblock content %}
    