{% extends '../tweets/base.html' %}



{% block content %}
<div class= 'row text-center' >
    <div class= 'col'>
        <h1>
            Welcome to Tweetme 2
        </h1>
    </div>
</div>


<div class= 'row'>
    <div class= 'col-md-4 mx-auto col-10'>
        <form id= 'tweet-create-form'
              class= 'form'  
              method= 'POST' 
              action='/create-tweet'>
            {% csrf_token %}
            <div class= 'd-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <textarea required class= 'form-control' name= 'content'  placeholder="Your tweet ..." >
            </textarea>
            <button type='submit' class='btn btn-primary mt-4' >Tweet</button>
        </form>
    </div>
</div>


<div class="row" id='tweets'>
    Loading ...
</div>

<script>

    const getCookie= (name) => {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const handleTweetFormError = (msg, display) => {
        const myErrorDiv = document.getElementById("tweet-create-form-error")
        if (display) {
            myErrorDiv.setAttribute("class", "alert-danger alert d-block")
            myErrorDiv.innerText = msg
        }else {
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    const handleTweetCreateFormDidSubmit = (event) => {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = () => {
            if (xhr.status === 201){
                handleTweetFormError("", false)
                const newTweet = xhr.response
                const newTweetEl = formatTweetElement(newTweet)
                console.log(newTweetEl)
                const tweetsElement = document.getElementById("tweets")
                const ogHtml = tweetsElement.innerHTML
                tweetsElement.innerHTML = newTweetEl + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                if (contentError) {
                    if (contentError[0]) {
                        handleTweetFormError(contentError[0], true)
                    } else {
                        alert("An error ocurred. Please try again.")
                    }
                } else {
                    alert("Another error ocurred. Please, try again.")
                }
            } else if (xhr.status === 500) {
                alert("There was a server error, please try again")
            } else if (xhr.status === 401) {
                alert("You must login!")
                window.location.href= '/login'
            } else if (xhr.status === 403) {
                alert("You must login!")
                //window.location.href= '/login'
            }
        }
        xhr.onerror = function () {
            alert("An error ocurred. Please try again later")
        }
        xhr.send(myFormData)
    }
    
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)
    const loadTweets = () => {
        const tweetsElement = document.getElementById("tweets")
        tweetsElement.innerHTML = 'Loading ...'
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "/tweets"
        const responseType = "json"

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
                const serverResponse = xhr.response
                const listedItems = serverResponse
                let finalTweetStr = ""
                let i
                for (i= 0; i< listedItems.length; i++ ){
                    finalTweetStr += formatTweetElement(listedItems[i])
                }
                tweetsElement.innerHTML = finalTweetStr
                console.log(listedItems)
            }
        xhr.send()
    }

    const tweetsEl = document.getElementById('tweets')
    loadTweets(tweetsEl)

    function handleTweetAction(tweet_id, currentCount, action, content) {
        console.log(tweet_id, currentCount)
        const url = "/api/tweets/action"
        const method = "POST"
        const data = JSON.stringify({
            id: tweet_id,
            action: action,
            content: 'content'
        })
        const xhr = new XMLHttpRequest()
        const csrf_token = getCookie('csrftoken')
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrf_token)
        xhr.onload = function () {
            loadTweets(tweetsEl)
        }
        xhr.send(data)
    }

    
    function RetweetBtn(tweet) {
        const content = '' + tweet.content
        return `<button class= 'btn btn-outline-success btn-sm' onclick=handleTweetAction(${tweet.id},${tweet.likes},'retweet','content')> Retweet</button>`
    }
    
    function UnLikeBtn(tweet) {
        const content = '' + tweet.content
        return `<button class= 'btn btn-outline-primary btn-sm' onclick= handleTweetAction(${tweet.id},${tweet.likes},'unlike','content')> ${tweet.likes} UnLike</button>`
    }
    function LikeBtn(tweet) {
        const content = '' + tweet.content
        return `<button class= 'btn btn-outline-primary btn-sm' onclick= handleTweetAction(${tweet.id},${tweet.likes},'like','content')> ${tweet.likes} Like</button>`
    }

    function formatTweetElement(tweet) {
        const formattedTweet = "<div class='mb-4 col-md-10 mx-auto col-12 border rounded py-3' id= 'tweet-" 
        + tweet.id + "'>" 
        + "<p>" 
        + tweet.content
        + "</p><div class= 'btn-group'>" + 
        LikeBtn(tweet) + 
        UnLikeBtn(tweet) +
        RetweetBtn(tweet) +
        "</div></div>"

        return formattedTweet
    }

    
</script>

{% endblock content %}
